@model BlogPost
@{
    ViewData["Title"] = "Details";
}

     <!-- Start Page Banner Area-->
        <div class="page-banner-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-6">
                        <div class="single-page-banner-content">
                            <h1>Our Blog Details</h1>
                            <p><a asp-controller="Home" asp-action="Index">Home</a>Blog Details</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="page-banner-img" data-aos="fade-up-left" data-aos-duration="3000" data-aos-once="true">
                            <img src="~/assets/images/page-banner/page-banner-image-1.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area-->

        <!-- Start Blog Details Area -->
        <div class="blog-details-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single-blog-details-content">
                            <div class="blog-details-img">
                                <img style="width: -webkit-fill-available;" src="~/uploads/images/@Model.ImagePath" alt="images">
                            </div>
                            <ul class="blog-details-list">
                                <li><i class="ri-calendar-check-line"></i>@Model.PublishDate?.ToString("dd MMM, yyyy")</li>
                            </ul>
                            <h3>@Model.Title</h3>
                            <p>@Html.Raw(Model.Body)</p>
                            <div class="blog-details-card">
                                <h1>Related Posts</h1>
                                <h4></h4>
                                <img src="~/assets/images/blog/blog-details-shape.png" alt="images">
                            </div>
                            <div class="row flex-nowrap">
                            @await Component.InvokeAsync("RelatedBlogPosts",new { postId = Model.Id, size=3})
                            </div>
                            <ul class="details-list">
                                <li>Share Now</li>
                                <li>
                                    <div>
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com/" target="_blank"> 
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>   
                                            <li>
                                                <a href="https://twitter.com/" target="_blank">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>    
                                            <li>
                                                <a href="https://www.linkedin.com/" target="_blank">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>  
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-details-right">
                            <div class="categories">
                                <h2>Categories</h2>
                                <ul>
                                    <li><a href="#"><i class="ri-arrow-right-s-line"></i>@Model.Category?.Name</a></li>
                                </ul>
                            </div>
                            <div class="popular-posts">
                                <h2>Recent Blog Posts</h2>
                                @await Component.InvokeAsync("RecentBlogPosts", new { size = 3 })
                            </div>
                            <div class="categories">
                                <h2>Tags</h2>
                                <ul>
                                     @foreach (var item in Model.TagCloud)
                                     {   
                                      <li>
                                    <a asp-action="PostsByTag" asp-route-tagId="@item.Tag.Id"><i class="ri-arrow-right-s-line"></i>@item.Tag.Text</a>
                                      </li>
                                     }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Details Area -->