@model PagedViewModel<BlogPost>
@{
    ViewData["Title"] = "Index";
}

 <!-- Start Page Banner Area-->
        <div class="page-banner-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-6">
                        <div class="single-page-banner-content">
                            <h1>Our Blog</h1>
                            <p><a asp-controller="Home" asp-action="Index">Home</a>Blog</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="page-banner-img" data-aos="fade-up-left" data-aos-duration="3000" data-aos-once="true">
                            <img src="~/assets/images/page-banner/page-banner-image-1.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area-->

        <!-- Start Blog Area -->
        <div class="banner-blog-area pt-100 pb-70">
            <div class="container">
                <div class="row justify-content-center"> 
                @foreach (var item in Model.Items)
{
    <div class="col-lg-4 col-md-6">
        <div class="single-blog-card" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
            <div class="blog-img">
                <a asp-controller="blog" asp-action="details" asp-route-slug="@item.Slug">
                    <img style="height:313px;" src="~/uploads/images/@item.ImagePath" alt="images">
                </a>
            </div>
            <span><i class="ri-calendar-check-line"></i>@item.PublishDate?.ToString("dd MMM, yyyy")</span>
            <div class="single-blog-text">
                @*                                <ul>
                    <li><i class="ri-account-circle-line"></i><a href="blog-details.html">Kendall</a></li>
                    <li><i class="ri-football-line"></i><a href="blog-details.html">Football</a></li>
                    </ul>*@
         <h3><a asp-controller="blog" asp-action="details" asp-route-slug="@item.Slug">@item.Title</a></h3>
                <div class="textpart">
                    @Html.Raw(item.Body)
                </div>
               @* await Component.InvokeAsync("BlogPosts")*@
             <a asp-controller="blog" asp-action="details" asp-route-slug="@item.Slug" class="default-btn style-1">Read More<i class="ri-arrow-right-line"></i></a>
          </div>
        </div>
    </div>
    }
                </div>
        <div class="row">
            <div class="col-12">
               @Model.GetPager(Url,"index",area:"")
            </div>
        </div>
            </div>
        </div>
        <!-- End Blog Area -->
        <style>
        .textpart{
            height:120px;
            overflow:hidden;
        }
        .blog-pagination{
  display: flex;
  flex-direction: row;
}
.blog-pagination  a{
  display: inline-block;
  padding:10px;
  border:1px solid #ddd;  
  color:#fe0000;
}

.blog-pagination li.active a{
  background-color: #fe0000;
  color:#ffffff;
}
.blog-pagination li{
  list-style:none;
}
</style>
<script src="https://kit.fontawesome.com/dbccfca02d.js" crossorigin="anonymous"></script>

