@model PagedViewModel<Product>

@foreach (var item in Model.Items)
{
    <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="collection-card aos-init aos-animate" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
            <div class="collection-item shop-img">
                <span>Sale</span>
                <a asp-controller="shop" asp-action="details" asp-route-id="@item.Id">
                    <img src="/uploads/images/@item.ImagePath" alt="images">
                </a>
                <a href="javascript:addToBasket(@item.Id)" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
            </div>
            <ul class="collection-list">
                <li><i class="ri-star-fill"></i></li>
                <li><i class="ri-star-fill"></i></li>
                <li><i class="ri-star-fill"></i></li>
                <li><i class="ri-star-fill"></i></li>
                <li><i class="ri-star-half-line"></i></li>
            </ul>
            <h3><a asp-controller="shop" asp-action="details" asp-route-id="@item.Id">@item.Name</a></h3>
            <p><del>425.00₼</del>@item.Price?.ToString("0.00₼")</p>
            <div class="actions-secondary">
                <a class="action--wishlist tile-actions--btn flex wishlist-btn wishlist"
               href="javascript:addToWishlist(@item.Id)" button-wishlist="" data-product-handle="accusantium-doloremque">
                    <i class="fa fa-heart-o" data-toggle="tooltip" title="" data-original-title="Add to Wishlist"></i>
                </a>
                <a href="javascript:void(0);" class="action-btn quick-view"
               onclick="quiqview('accusantium-doloremque')"
               data-toggle="modal" data-target="#quickViewModal">
                    <i class="fa fa-eye" data-toggle="tooltip" title="" data-original-title="Quickview"></i>
                </a>
            </div>
        </div>
    </div>
}